body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: white;
    font-family: "Poppins", sans-serif;    
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px; /* Sabit genişlik */
    height: 600px; /* Sabit yükseklik */
    border: 3px solid #45a049;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

.grid-square {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s; /* Yumuşak geçiş efekti */
}


h1 {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #45a049;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.grid-square:hover {
    background-color: black;
    filter: brightness(1.2);
}

button {
    margin-bottom: 20px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#text {
    font-size: 25px;
    padding: 20px;
    background-color: #45a049;
    border-radius: 5px;
}