body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px; /* Sabit genişlik */
    height: 500px; /* Sabit yükseklik */
    border: 2px solid black;
}

.grid-square {
    background-color: white;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
}

.grid-square:hover {
    background-color: black;
}

button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}